<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <title>Home|Absensi System</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link active" href="/home">BERANDA</a></li>
            <li class="nav-item"><a class="nav-link" href="/riwayat">RIWAYAT</a></li>
            <li class="nav-item"><a class="nav-link" href="/kalender">KALENDER</a></li>
            <li class="nav-item"><button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#profilModal">Profil
                </button></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class=" nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    {{username}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    {{!-- Profil Modal --}}
    <div class="modal fade" id="profilModal" tabindex="-1" aria-labelledby="profilModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <h1 class="display-2">
                            My Profile :)
                        </h1>
                        <p>
                            Hello, I'm <mark>{{fullname}}</mark> and my username is @<mark>{{username}}</mark> which is
                            student at Universitas Gadjah Mada taking <mark>{{prodi}}</mark> undergraduate Programme.
                            My NIM is <mark>{{nim}}</mark> and currently im grade <mark>{{smt}}</mark>.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Content --}}

    <div class="container">
        {{!-- <h1 class="display-3">Hello, youre in the home!</h3>
            <p>Hello, i'm {{fullname}}, with email: {{email}} and {{sess}} and {{sessadmin}}</p> --}}
        {{#each matkul}}
        <div class="card border-info mb-3" style="max-width: 30rem;" id="cardMatkul">
            <div class="card-header">{{namamatkul}}</div>
            <div class="card-body text-info">
                <h5 class="card-title">{{kodematkul}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{jadwalmatkul}}</li>
                    <li class="list-group-item">sks: {{sksmatkul}}</li>
                    <li class="list-group-item">{{dosenmatkul}}</li>
                </ul>
                <a href="/home/{{namamatkul}}/{{kodematkul}}/{{kelasmatkul}}/{{dosenmatkul}}" class="btn btn-primary">
                    Izin
                </a>
            </div>
        </div>
        {{/each}}
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>